body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
a {
  color: inherit;
  text-decoration: none;
}
button {
  background-color: #fff;
  border: 1px solid #c4c4c4;
  font-size: 16px;
  padding: 5px;
}
.content {
  max-width: 1440px;
  margin: 40px auto;
  display: grid;
  grid-gap: 1em;
  grid-template-areas:
    "sidebar"
    "main-content"
}
.message {
  border: 1px solid #c4c4c4;
  padding: 10px;
  margin-bottom: 40px;
  background-color: #f7f7f7;
  text-align: center;
}
.sidebar {
  grid-area: sidebar;
  border-right: 1px solid #ccc;
}
.main-content {
  grid-area: main-content;
}
.categories-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.categories-list li {
  display: block;
  margin-bottom: 10px;
}
.categories-link.selected {
  font-size: 18px;
  font-weight: bold;
}
.categories-link.selected:hover {
  opacity: 1;
  cursor: default;
}
.categories-link:hover {
  opacity: 0.6;
}
.posts-addPost {
  border: 1px solid #c4c4c4;
  float: right;
  padding: 4px 6px;
}

.order-posts {
  font-size: 16px;
  background-color: #fff;
  padding: 4px 2px;
}
.posts-list, .comments-list {
  list-style-type: none;
  padding: 0;
}
.posts-list li {
  display: block;
  margin-bottom: 15px;
  border: 1px solid #c4c4c4;
  padding: 10px;
}
.post {
  border: 2px solid #c4c4c4;
}
.post-editPost {
  border: 1px solid #c4c4c4;
  padding: 5px;
  margin-bottom: 15px;
  display: inline-block;
  margin-right: 10px;
}
.post-title {
  font-weight: bold;
  border-bottom: 1px solid #c4c4c4;
  padding: 8px;
}
.post-title:hover {
  opacity: 0.7;
}
.post-body {
  border-bottom: 1px solid #c4c4c4;
  padding: 20px 8px;
}
.post-author {
  font-size: 14px;
  display: inline-block;
  margin: 0 20px 0 8px;
}
.post-category {
  font-size: 14px;
  display: inline-block;
  margin-right: 20px;
}
.post-date {
  font-size: 14px;
  display: inline-block;
  margin-right: 20px;
}
.post-voteScore {
  font-size: 14px;
  display: inline-block;
  margin-right: 20px;
  float: right;
}
.comments-block {
  margin: 50px 0 0 0;
}
.order-comments-label {
  font-size: 14px;
}
.order-comments {
  background-color: #fff;
}
.comments-list li {
  border: 1px solid #c4c4c4;
  font-size: 15px;
  margin-bottom: 4px;
}
.comment-body {
  border-bottom: 1px solid #c4c4c4;
  padding: 8px;
}
.comment-author, .comment-date, .comment-voteScore {
  display: inline-block;
  margin: 0 30px 0 8px;
  font-size: 14px;
}
.form-add-edit-post {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr 3fr;
}
.form-add-edit-post label {
  text-align: right;
  margin-right: 20px;
  vertical-align: middle;
  padding: 5px 0;
}
.form-add-edit-post input,
.form-add-edit-post textarea,
.form-add-edit-post select {
  margin-bottom: 20px;
  padding: 5px;
}
.form-add-edit-post textarea {
  grid-column: 2/5;
}
.submit-button {
  grid-column: 2/3;
  max-width: 150px;
}
.button-comment {
  font-size: 13px;
  padding: 2px;
  margin-left: 20px;
}

@media only screen and (min-width: 500px) {
  .content {
    grid-gap: 20px;
    grid-template-columns: 1fr 4fr;
    grid-template-areas:
      "sidebar main-content"
  }
}

@media only screen and (max-width: 500px) {
  .content {
    margin: 40px;
  }
  .sidebar {
    border: none;
  }
  .form-add-edit-post {
    grid-template-columns: 1fr;
  }
  .form-add-edit-post label {
    text-align: left;
    margin-right: 0;
  }
  .form-add-edit-post textarea {
    grid-column: auto;
  }
  .submit-button {
    grid-column: auto;
  }
}
